.about {
  margin: 1rem;
  display: inline-block;
}

.about-line {
  margin: 2rem 2rem 2rem;
}

.about-title {
  color: #198ccb;
  font-weight: 700;
  font-size: 34px;
  margin: 2rem 2rem 2rem;
}

.about-text {
  float: right;
  background-color: #198ccb;
  border-radius: 4px;
  width: 30%;
  height: 50%;
  margin-top: 3rem;
  margin-right: 10%;
  margin-bottom: 3rem;
  padding: 3%;
  @media screen and (max-width: 800px) {
    float: none;
    margin: auto;
    padding: 5%;
    width: 70%;
  
  }

  .title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .body {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
  }
}

.about-image {
  float: left;
  width: 20%;
  height: 20%;
  margin-top: 3rem;
  margin-left: 10%;
  margin-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 2rem;
  @media screen and (max-width: 800px) {
    display: none;
}
}
